.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.horizontallink{
  display: none;
}
.horizontalprojectlink{
  display: none;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Merriweather';
}


body{
  margin: 0px;
}

.sidebar{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.sidebar p{
  text-align: center;
  font-size: 40px;
  margin: 0%;
}

.sidebar img{
  max-height: 250px;
  max-width: 250px;
}

.content{
  width: auto;
  margin-left: 300px;
}

.sidebarContent{
  display: flex;
}

ul{
  list-style: none;
  padding: 0px;
}


.gallerydisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallerydisplay img{
  max-width: 400px;
  max-height: 250px;
  margin: 2%
}

.aboutmeContent{
  display: flex;
  margin-left: 20%;
  margin-top: 15%;
}

.aboutmeContent img{
  max-width: 300px;
  max-height: 300px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: black;
  display: block;
}

.sidebar a:hover {
  color: pink;
}

.socialicon{
  display: flex;
  justify-content: center;
}

a:focus{
  color: pink;
}

.ImageAndName h1{
  text-align: center;
}

.mediaicon{
  margin-left: 5%;
}

@media(max-width:768px){
  .sidebar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: unset;
    flex-shrink: inherit;
    flex-wrap: wrap;
  }
  .sidebar img{
    max-width: 150px;
    max-height: 150px;
  }

  .sidebar p{
  text-align: left;
  font-size: 40px;
  margin: 0%;
  }
  .sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: black;
  }
  .sidebarContent{
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  }
  .content{
  margin-left: 0px;
  }

  .links{
    display: flex;
  }
  .ImageAndName h1{
    margin: 0px;
  }
  .ImageAndName{
    margin-right: 80vw;
  }
  .socialicon{
  display: inline-flex;
  justify-content: left;
}
.mediaicon{
  margin-left: 0%;
}
.links{
  display: none;
}
.link{
  display: none;
}
.horizontallink{
  display: flex;
}
.horizontalprojectlink{
  display: flex;
}

.content h1{
  text-align: center;
}
}