.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Merriweather';
}


body{
  margin: 0px;
}

.sidebar{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.sidebar p{
  text-align: center;
  font-size: 40px;
  margin: 0%;
}

.sidebar img{
  max-height: 250px;
  max-width: 250px;
}

.content{
  width: auto;
  margin-left: 300px;
}

.sidebarContent{
  display: flex;
}

ul{
  list-style: none;
  padding: 0px;
}

h1{
  margin-left: 2%;
}

.gallerydisplay{
  display: flex;
  flex-wrap: wrap;
}

.gallerydisplay img{
  max-width: 500px;
  max-height: 500px;
  margin: 2%
}

.aboutmeContent{
  display: flex;
  margin-left: 20%;
  margin-top: 15%;
}

.aboutmeContent img{
  max-width: 300px;
  max-height: 300px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: black;
  display: block;
}

.sidebar a:hover {
  color: pink;
}

.socialicon{
  display: flex;
  justify-content: center;
}

a:focus{
  color: pink;
}

.mediaicon{
  margin-left: 5%;
}